// @use "./mixins" as *;

header {

    nav {
        @include center("between");

        ul {
            display: flex;

            img {
                width: 59px;
                margin: 15px 0;
            }
        }

        .nav {

            a {
                text-transform: uppercase;
                font-size: 0.6rem;
                margin: 0 15px;
                padding-bottom: 34px;
                font-weight: 600;

                &:hover {
                    border-bottom: 5px solid $primary-color;
                }
            }

            .active {
                border-bottom: 5px solid $primary-color;
                color: $primary-color;
            }
        }
    }

    #jumbotron {

        img {
            height: 350px;
            width: 100%;
            object-fit: cover;
            object-position: top;
            display: block;
        }
    }
}